<form action="/records/filter">
  <div class="input-group-append mx-auto " style="width: 200px;">

    <div class="dropdown btn-sort m-3">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{month}}月份
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <button class="dropdown-item" name="month" value="1">1月</button>
        <button class="dropdown-item" name="month" value="2">2月</button>
        <button class="dropdown-item" name="month" value="3">3月</button>
        <button class="dropdown-item" name="month" value="4">4月</button>
        <button class="dropdown-item" name="month" value="5">5月</button>
        <button class="dropdown-item" name="month" value="6">6月</button>
        <button class="dropdown-item" name="month" value="7">7月</button>
        <button class="dropdown-item" name="month" value="8">8月</button>
        <button class="dropdown-item" name="month" value="9">9月</button>
        <button class="dropdown-item" name="month" value="10">10月</button>
        <button class="dropdown-item" name="month" value="11">11月</button>
        <button class="dropdown-item" name="month" value="12">12月</button>
      </div>
    </div>

    <div class="dropdown btn-sort m-3">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{#ifEquals category "home"}}家居物業{{/ifEquals}}
        {{#ifEquals category "transportation"}}交通出行{{/ifEquals}}
        {{#ifEquals category "entertainment"}}休閒娛樂{{/ifEquals}}
        {{#ifEquals category "food"}}餐飲食品{{/ifEquals}}
        {{#ifEquals category "other"}}其他{{/ifEquals}}
        分類
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/records/filter?{{#if month}}month={{month}}&{{/if}}category=home">家居物業</a>
        <a class="dropdown-item"
          href="/records/filter?{{#if month}}month={{month}}&{{/if}}category=transportation">交通出行</a>
        <a class="dropdown-item"
          href="/records/filter?{{#if month}}month={{month}}&{{/if}}category=entertainment">休閒娛樂</a>
        <a class="dropdown-item" href="/records/filter?{{#if month}}month={{month}}&{{/if}}category=food">餐飲食品</a>
        <a class="dropdown-item" href="/records/filter?{{#if month}}month={{month}}&{{/if}}category=other">其他</a>
      </div>
    </div>

  </div>
  </div>
</form>

<div class="container">
  <div class="list-group">
    <div class="row">
      <div class="col-10  mx-auto text-center bg-white">
        {{!-- total amount --}}
        <div class="col-10 mx-auto d-block mb-3">
          <h4 class="text-left">總金額：</h4>
          <h1 class="text-right text-primary">$ {{totalAmount}}</h1>
        </div>
        {{!-- /total amount --}}
        {{#ifEquals totalAmount "0"}}
        {{> messages}}
        {{/ifEquals}}

        {{#each records}}
        <div class="list-group-item">
          <div class="d-inline-block">
            {{#ifEquals this.category "home"}}
            <i class="fas fa-home"></i>
            {{/ifEquals}}

            {{#ifEquals this.category "transportation"}}
            <i class="fas fa-shuttle-van"></i>
            {{/ifEquals}}

            {{#ifEquals this.category "entertainment"}}
            <i class="fas fa-grin-beam"></i>
            {{/ifEquals}}

            {{#ifEquals this.category "food"}}
            <i class="fas fa-utensils"></i>
            {{/ifEquals}}

            {{#ifEquals this.category "other"}}
            <i class="fas fa-pen"></i>
            {{/ifEquals}}

          </div>
          <div class="d-inline-block col-3">
            <h4 class="text-left">{{this.name}}</h4>
            <h6 class="text-left">{{formatDate this.date}}</h6>
          </div>
          <div class="d-inline-block col-3">
            {{this.store}}
          </div>
          <div class=" d-inline-block col-1 my-auto mr-5">
            <span style="font-size: 20px; line-height:60px;">{{this.amount}}</span>
          </div>
          <div class="d-inline-block">
            <div class="mt-2">
              <a class="btn btn-outline-primary" href="/records/{{this._id}}/edit">編輯</a>

              <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-outline-danger" type="submit">delete</button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
        <div class="col-10 mx-auto d-block mb-3">
          <a class="btn btn-primary mt-5" href="/records/new">新增支出</a>
        </div>
      </div>
    </div>
  </div>
</div>